.title{
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	font-family: 'Montserrat', sans-serif;

	flex-basis: 30%;
}
.buttons{
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	font-family: 'Montserrat', sans-serif;
}
body{
	margin-top:20%;
	font-family: 'Montserrat', sans-serif;
}
button{
	border: none;
	color: blacl;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: .9em;
	font-family: 'Montserrat', sans-serif;
}
p{
	padding: 15px 32px;
	font-size: 2em;
}